# Build Folders
bin/
obj/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
packages/
.nuget/

# Resharper
_ReSharper*/
*.DotSettings.user

# dotCover
*.dotCover

# OS files
.DS_Store
Thumbs.db

# Logs, temporary files
*.log
*.tmp

# Publish output
publish/

# User secrets
secrets.json
appsettings.Development.json
